* {
   box-sizing: border-box;
}

html {
   height: 100%;
   margin: 0;
}

body {
   margin: 0;
   display: grid;
   grid-template-rows: 3.6em auto 230px 8.5rem 2rem;
   align-content: flex-start;
   height: 100%;
   text-align: center;
   font-size: 1.8rem;
   font-family: Helvetica, Arial, sans-serif;
   background-color: #181A1B;
}
::-webkit-scrollbar{
   display: none;
}
h1 {
   margin-top: 20px;
   text-align: center;
   color: #fff;
}

#letters {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 1em 0;
   font-family: 'Comic Sans MS', sans-serif;
}

#letters div {
   margin: 5px;
   padding-top: 0.5em;
   border: 1px solid gray;
   color: rgb(255, 255, 255);
   width: 2em;
   height: 2em;
   line-height: 0.9;
   overflow: hidden;
   transition: .3s;
}

#letters div:hover {
   background-color: rgb(111, 126, 111);
}

#showWord p {
   margin: 0;
   font-size: 3rem;
   letter-spacing: 0.5em;
   font-family: 'Comic Sans MS', sans-serif;
   color: #fff;
}

#letters div.used {
   background-color: rgb(146, 146, 146);
   opacity: 0.5;
}
section#image {
   text-align: center;
}
section#gameover p {
   line-height: 30px;   
   padding: 0 10px;
   font-size: 1rem;
   cursor: pointer;
   background-color: #02424c;
   color: rgb(255, 255, 255);
   display: none;
}
section#gameover div {
   display: flex;
   justify-content: center;
}

@media(max-width:885px){
   #letters div {
      padding-top: 0.5em;
      width: 1.4em;
      height: 1.4em;
      line-height: 0.3;
   }
}
@media(max-width:660px){
   body{
      background=#FFF;
      color=#000;
   }
 /*   #letters div {
      padding-top: 0.4em;
      width: 1.1em;
      height: 1.1em;
      line-height: 0.2;
   }
   body {
      grid-template-rows: 3em auto 240px 8rem 2rem;
   }
   #showWord p {
      font-size: 2.2rem;
   }*/
}
